name: Auto Preprocessing Dataset

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  preprocessing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install numpy pandas scikit-learn

      - name: Run preprocessing automation
        run: |
          python preprocessing/automate_Eka_Sandy_Aulia_Puspitasari.py

      - name: Commit processed dataset
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add preprocessing/processed_data/*.csv
          git commit -m "Auto update processed dataset" || echo "No changes to commit"
          git push